.nameTable {
  width: 65%;
  margin-left: 55px;
  display: inline-table;
}

.nameTable .glyphicon {
  font-size: 20px;
  display: block;
  text-align: center;
}

.nameTable .btnCell {
  padding: 8px 0px;
}

.input-group {
  position: relative;
  top: 7px;
  width: 30%;
  left: 15px;
  display: inline-block;
}


/*.form-control {
  display: inline-block;
}*/

.footer {
  position: fixed;
  background-color: #555;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 8px;
}

.footer span{
  position: relative;
  top: 10px;
  font-size: 18px;
}
